/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

nav {
  height: 20vh;
  width: 100%;
  background-image: linear-gradient(to right, #f0530a, white,green);
  color: #000;
  /* margin-bottom: 20px; */
}
.navitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navitems h2 {
  font-size: 30px;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1.5em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: aqua;
}

.navitems button {
  width: 25%;
  height: 10vh;
  border: 2px solid transparent;
  border-radius: 30px;
  background-color:rgb(233, 54, 69);
  font-family: serif;
  font-size: 20px;
  margin: auto 2em;
}

.fetchbtn:hover {
  background-color: rgb(62, 64, 219);
  cursor: pointer;
  font-size:x-large;
  color: aliceblue;
}
.userdatacontainer {
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(to bottom right, #4be988, #64c9cf);
}
#main {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  /* padding-top: 10vh; */
}
.name:hover {
  cursor: pointer;
  color: rgb(221, 88, 161);
}

.avatar {
  border-radius: 50%;
}

.profile_cont {
  border-radius: 50%;
  background-image: radial-gradient(#9c54ee, #62d2e6);
  margin: 5px;
  padding: 10px;
  width: 30%;
  text-align: center;
  transition: transform ease 0.2s;
  opacity: 0.8;
  margin-top: 8vh;
}

.profile_cont:hover {
  transform: scale(1.2);
  opacity: 1;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
span{
  color: #883e12;
}